<h1>Hello <%= @user.name %> </h1>
<% @user.goals.where(completed: false).each do |g| %>
<br><hr>
Category: <%= g.category %> <br>
Time Frame: <%=g.timeframe%><br>
<%= g.body %> <%= link_to('Remove',g, method: :delete)%>
<%= link_to('Done', toggle_goal_path(g), method: :patch) %>
<% end%>
<hr>
<% @user.goals.where(completed: true).each do |g| %>
<br><hr>
Category: <%= g.category %> <br>
Time Frame: <%=g.timeframe%><br>
<%= g.body %> <%= link_to('Remove',g, method: :delete)%>
<% end%>
