<h1>Hello <%= @user.name %> </h1>
<% @user.goals.each do |q| %>
<br><hr>
Category: <%= q.category %> <br>
Time Frame: <%=q.timeframe%><br>
<%= q.body %> <%= link_to('Remove',q, method: :delete)%>
<% end%>
